# 👋 Welcome, we're glad you're setting up an installation of Talawa-api. Copy this 
# file to .env or set the variables in your local environment manually.


# Generate a unique random key, you can use `openssl rand -hex 32` in terminal
ACCESS_TOKEN_SECRET=

# Generate a unique random key, you can use `openssl rand -hex 32` in terminal
REFRESH_TOKEN_SECRET=

# if you are using DOCKER use this mongodb url 
# mongodb://mongo:27017/talawa-api
# if you are using hosted mongodb, mongodb connection string will look like this
# mongodb+srv://<username>:<password>@<server_url>/<db_name>?retryWrites=true&w=majority
# for local instance use this connection string
# mongodb://localhost:27017/<db_name>?retryWrites=true&w=majority

MONGO_DB_URL=

# Get the google recaptcha secret key from google recaptcha admin or https://www.google.com/recaptcha/admin/create 
# from here for reCAPTCHA v2 and "I'm not a robot" Checkbox, and paste the key here.
# Note: In domains, fill localhost

RECAPTCHA_SECRET_KEY=

# Enter gmail credentials here for sending mails to the users. In MAIL_USERNAME enter email address and in MAIL_PASSWORD 
# enter app password.
# To get the app password, follow these steps:
# 1. Go to your Google Account, https://myaccount.google.com/
# 2. Select Security.
# 3. Under "Signing in to Google," select App Passwords.
# 4. At the bottom, choose Select app and choose the app you using and then Select device and choose the device you’re using and then Generate.
# 5. The App Password is the 16-character code in the yellow bar on your device.
# 6. Paste that App Password in MAIL_PASSWORD.

# Note: You must setup two factor authentication in order to allow the app password.

# For more info refer, https://support.google.com/accounts/answer/185833

MAIL_USERNAME=
MAIL_PASSWORD=

# Replace these values with instructions from INSTALLATION.md
# androidFirebaseOptions
apiKey=AIzaSyBkqgTkg2yNRsl7jIx_EtCyF9YqiCJX7sz
appId=1:803598513727:android:20d58bd8c9aae2102c2a8a
messagingSenderId=803598513727
projectId=talawa-352607
storageBucket=talawa-352607.appspot.com

# iosFirebaseOptions
iOSapiKey=AIzaSyCw_AKsWnW6oqUq4CC41aDmFcPuLkLO0gc
iOSappId=1:803598513727:ios:1f06f9c8eef964b42c2a8a
iOSmessagingSenderId=803598513727
iOSprojectId=talawa-352607
iOSstorageBucket=talawa-352607.appspot.com
iosClientId=803598513727-2gt176dpe0ljn5ie967o4d0rm0vo8sm0.apps.googleusercontent.com
iosBundleId=com.talawa.app
