language: node_js
node_js:
  - 12

script: node index.js
services:
    - mongodb

    
before_script:
  - sleep 15
  - mongo mydb_test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'