version: '3'
services:
  app:
    container_name: talawa-api
    restart: always
    build: .
    ports:
      - '80:4000'
    external_links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'