version: '3.8'

services:
  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongodb-data:/data/db
  
  redis-stack-server:
    image: redis/redis-stack-server:latest
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data/redis 

  talawa-api-dev-container:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "${SERVER_PORT:-4000}:${SERVER_PORT:-4000}"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongodb
      - redis-stack-server
    environment:
      - mongodb://localhost:27017/talawa-api
      - REDIS_HOST=redis-stack-server
      - REDIS_PORT=6379

volumes:
  mongodb-data:
  redis-data:
