services:
  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongodb-data:/data/db
  
  redis-stack-server:
    image: redis/redis-stack-server:latest
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data/redis 

  talawa-api-container:
    build: .
    ports:
      - 4000:4000
    depends_on:
      - mongodb
      - redis-stack-server

volumes:
  mongodb-data:
  redis-data: