[Unit]
# Description of the service
Description=Talawa-API Service

# Ensure the service starts after the network is available
After=network.target

[Service]
# The type of service. 'simple' means the service will start immediately.
Type=simple

# The command to start the service. This points to the Talawa-api.sh script.Here you can't use TALAWA_API_HOME from shell (~/.bashrc) as systemd will not load any variable. That's why we have to manually add it.Always use absolute path.
ExecStart=/path/to/your/talawa-api/example/linux/systemd/Talawa-api.sh

# The working directory for the service.User have to export it.
WorkingDirectory=/path/to/your/talawa-api

# Restart the service automatically if it stops.
Restart=always

# The delay before restarting the service.
RestartSec=5

# The user to run the service as. You can find your username by running 'whoami'.Create a user named `talawa` for better understanding and Security.First create a user and group named 'talawa' for better Security. 
User=talawa

# The group to run the service as. Usually, this is the same as the username.
Group=talawa

# Redirects the output and error to the systemd journal and console.
StandardOutput=journal+console
StandardError=journal+console

# Sets the maximum number of open files. Adjust this value based on application requirements.
# The current value of 15000 was determined based on the following considerations:
# - Typical number of open files required by the application, including log files, database connections, and network sockets.
# - Monitoring of current usage patterns using tools like 'lsof'(lsof -p <PID> | wc -l) and 'ulimit'.
# - Allowing some buffer for peak usage scenarios.
# Users should monitor the application and adjust this value if the demands change in the future.
LimitNOFILE=15000

# Security-related directives

# Protect the system by making the root filesystem read-only for the service.
# This prevents the service from modifying system-critical files, reducing the attack surface.Comment this because for this line the service have no permission to write in logfile.
#ProtectSystem=strict

# Prevent the service from accessing home directories of other users.
# Only the necessary files in the service's user directory will be accessible.For now don't use it as our script is under the talawa user's directories so if we execute then it will give error.
#ProtectHome=yes

# Make the service's working directory read-only.
# This is useful for protecting important directories from being altered by the service.
ReadOnlyPaths=/path/to/your/talawa-api

# Ensures the service and its child processes cannot gain new privileges.
# This helps to prevent privilege escalation attacks.
NoNewPrivileges=true

# Isolate the service's temporary files from others by assigning it a private /tmp.
# This prevents other services or users from accessing or interfering with the service's temporary data.
PrivateTmp=true

# Restrict the service to use only IPv4 and IPv6 address families.
# This helps prevent the service from using other network protocols, such as Unix domain sockets, which could be a potential attack vector.
RestrictAddressFamilies=AF_INET AF_INET6

# Allows the service to bind to network ports below 1024 (e.g., HTTP on port 80), 
# but it won't allow the service to use any other privileged capabilities.
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
# Specifies the target to which the service should be added. 'multi-user.target' means the service will start in multi-user mode.
WantedBy=multi-user.target
