/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-neutral-600);
}

.subtitle {
  margin-top: 1rem;
  max-width: 42rem;
  font-size: 1.25rem;
  color: #718096;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}