name: Add Unapproved Label on Unassignment

on:
  issues:
    types: [unassigned]

jobs:
  add-unapproved-label:
    uses: yashgoyal0110/.github/.github/workflows/issue-unassigned.yml@feat/adding-more-centralised-jobs
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
