name: PR Workflow
on: 
  pull_request:

jobs:
  Linter:
    name: Lints the code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: yarn
      - name: Run ESLint and Prettier
        run: yarn lint

  Count-lines-of-code:
    name: Total number of lines in every file should not be more than 400
    runs-on: ubuntu-latest
    needs: Linter
    steps:
      - uses: actions/checkout@v2
      - run: chmod +x ./.github/workflows/countline.py
      - run: ./.github/workflows/countline.py
      
  Code-Formatter:
    name: Formats the code
    runs-on: ubuntu-latest
    needs: Linter
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        # This is important to fetch the changes to the previous commit
        fetch-depth: 0
    - name: Prettify code
      uses: creyD/prettier_action@v3.3
      with:
        same_commit: True
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            
  CodeQL:
    name: "CodeQL"
    runs-on: ubuntu-latest
    needs: Code-Formatter
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
    - name: Autobuild
      uses: github/codeql-action/autobuild@v1

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
      
  Code-Coverage:
    name: Shows code coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
    - name: Install dependencies
      run: npm install
    - name: Run the tests    
      run: npm run test-dev
      continue-on-error: true
    - name: Save Test Coverage Details
      uses: codecov/codecov-action@v2
      with:
        token: ${{secrets.CODECOV_TOKEN}} 
        file: ./coverage/lcov.info 
    - name: Report code coverage
      uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
      with:
        path: "./coverage/lcov.info"
        min_coverage: 67
