##############################################################################
##############################################################################
#
# NOTE!
#
# Please read the README.md file in this directory that defines what should
# be placed in this file
#
##############################################################################
##############################################################################

name: PR Workflow
on:
  pull_request:
    branches:
      - '**'
      
env:
    CODECOV_UNIQUE_NAME: CODECOV_UNIQUE_NAME-${{ github.run_id }}-${{ github.run_number }}
          
jobs:
  Linter:
    name: Lints the code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm ci
      - name: Run ESLint and Prettier
        run: npm run lint

  Code-Formatter:
    name: Formats the code
    runs-on: ubuntu-latest
    needs: Linter
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # This is important to fetch the changes to the previous commit
          fetch-depth: 0
      - name: Prettify code
        uses: creyD/prettier_action@v3.3
        with:
          same_commit: True
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  JSDocs:
    name: 'JSDocs comments and pipeline'
    runs-on: ubuntu-latest
    needs: Code-Formatter
    steps:
      - uses: actions/checkout@v3
      - name: 'Check whether comments exists for JSDocs'
        run: |
          chmod +x ./.github/workflows/check-jsdocs-comment.py
          ./.github/workflows/check-jsdocs-comment.py

      - name: 'Run JSDocs'
        if: env.RUN_JSDOCS == 'True'
        run: echo "Run JSdocs :${{ env.RUN_JSDOCS }}"

  Test-Application:
    name: Testing Application
    runs-on: ubuntu-latest
    needs: Code-Formatter
    strategy:
      matrix:
        node-version: [14.x]
    services:
      mongo:
        image: mongo:4.4
        options: >-
          --health-cmd mongo
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
        ports:
          - 27017:27017
    env:
      MONGO_DB_URL: mongodb://localhost:27017/talawa-test-db
      ACCESS_TOKEN_SECRET: eeb2137b1961a3da9e3736ea4a9ed1e77cb33a4fad8a153d364c2f04ec50eab7
      REFRESH_TOKEN_SECRET: 96d41e144e63475f7f753735b50305cd2857cc41c2f2570babdb948c10b77bc5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm ci

      - name: Sleep for 10s
        uses: juliangruber/sleep-action@v1
        with:
          time: 10s

      - name: Run the tests
        run: npm run test

      - name: Present and upload coverage to Codecov as ${{env.CODECOV_UNIQUE_NAME}}
        uses: codecov/codecov-action@v3
        with:
          verbose: true
          fail_ci_if_error: true
          name: '${{env.CODECOV_UNIQUE_NAME}}'  

      - name: Test acceptable level of code coverage
        uses: VeryGoodOpenSource/very_good_coverage@v2
        with:
          path: './coverage/lcov.info'
          min_coverage: 93.2
  
  Type-Checker:
    name: Checks Types of all variables
    runs-on: ubuntu-latest
    needs: Linter
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci  
      
      - name: Run Typesctipt Type-Checker
        run: npm run typecheck
