name: PR Target Workflow

on:
  pull_request_target:

jobs:
  pr-policy:
    uses: PalisadoesFoundation/.github/.github/workflows/pr-target-policy.yml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
