name: Pull Request Review

on:
  pull_request_review:
    types: [submitted, edited, dismissed]

jobs:
  coderabbit-review-check:
    uses: PalisadoesFoundation/.github/.github/workflows/pr-review-coderabbit.yml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
