##############################################################################
##############################################################################
#
# NOTE!
#
# Please read the README.md file in this directory that defines what should
# be placed in this file
#
##############################################################################
##############################################################################

name: PR Workflow
on:
  pull_request:
    branches:
      - '**'
jobs:
  Linter:
    name: Lints the code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: yarn
      - name: Run ESLint and Prettier
        run: yarn lint

  Count-lines-of-code:
    name: Total number of lines in every file should not be more than 400
    runs-on: ubuntu-latest
    needs: Linter
    steps:
      - uses: actions/checkout@v2
      - run: chmod +x ./.github/workflows/countline.py
      - run: |
          ./.github/workflows/countline.py --exclude_directories tests

  Code-Formatter:
    name: Formats the code
    runs-on: ubuntu-latest
    needs: Linter
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        # This is important to fetch the changes to the previous commit
        fetch-depth: 0
    - name: Prettify code
      uses: creyD/prettier_action@v3.3
      with:
        same_commit: True
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Code-Coverage:
    name: Shows code coverage
    runs-on: ubuntu-latest
    needs: Code-Formatter
    strategy:
      matrix:
        node-version: [14.x]
        mongodb-version: ['4.4']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Docker build
      run: docker-compose up -d --build
      env:
        MONGO_DB_URL: mongodb://mongo:27017/talawa-test-db
        ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
        REFRESH_TOKEN_SECRET: ${{ secrets.REFRESH_TOKEN_SECRET }}

    # - name: Set up Node.js ${{ matrix.node-version }}
    #   uses: actions/setup-node@v2

    # - name: Start MongoDB
    #   uses: supercharge/mongodb-github-action@1.7.0
    #   with:
    #     mongodb-version: ${{ matrix.mongodb-version }}

    # - name: Install dependencies
    #   run: npm install

    # - name: Start the Application
    #   run: npm run start-test-server-in-action
    #   env:
    #     MONGO_DB_URL: mongodb://mongo:27017/talawa-test-db
    #     ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
    #     REFRESH_TOKEN_SECRET: ${{ secrets.REFRESH_TOKEN_SECRET }}

    - name: Sleep for 10s
      uses: juliangruber/sleep-action@v1
      with:
        time: 10s

    - name: Install Jest NPM Package Globally
      run : npm install -g jest

    - name: Run the tests
      run: npm run test
      env:
        MONGO_DB_URL: mongodb://mongo:27017/talawa-test-db
        ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
        REFRESH_TOKEN_SECRET: ${{ secrets.REFRESH_TOKEN_SECRET }}

    - name: Present current coverage in PR
      uses: codecov/codecov-action@v2.1.0
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./coverage/lcov.info

    # - name: Stop the Application
    #   run: npm run stop-test-server-in-action

    - name: Stop and Remove Docker containers
      run: docker-compose down -v

    - name: Test acceptable level of code coverage
      uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
      with:
        path: "./coverage/lcov.info"
        min_coverage: 55.38
