name: PR Target Workflow

on:
  pull_request_target:

jobs:
  pr-policy:
    uses: yashgoyal0110/.github/.github/workflows/pr-target-policy.yml@feat/adding-more-centralised-jobs
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
