name: Pull Request Review

on:
  pull_request_review:
    types: [submitted, edited, dismissed]

jobs:
  coderabbit-review-check:
    uses: yashgoyal0110/.github/.github/workflows/pr-review-coderabbit.yml@feat/adding-more-centralised-jobs
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
