##############################################################################
##############################################################################
#
# NOTE!
#
# Please read the README.md file in this directory that defines what should 
# be placed in this file
#
##############################################################################
##############################################################################

name: PR Target Workflow
on: 
  pull_request_target:
  
jobs:
  PR-Greeting:
    name: Pull Request Target
    runs-on: ubuntu-latest
    steps:
      - name: Add the PR Policy
        uses: thollander/actions-comment-pull-request@v2
        with:
          comment_tag: pr_policy
          message: |
            Thanks for creating a pull request! :thumbsup: A reviewer will be by to give feedback soon. In the meantime, please review our [Pull Request Approval Process](https://github.com/anshgoyalevil/talawa-api/blob/signoff/PR_GUIDELINES.md#our-pull-request-approval-process) and sure to join the [community Slack](https://bit.ly/3nS04GG).
            
            Be sure to double-check that you have signed your commits. Here are instructions for [making signing an implicit activity while peforming a commit](https://github.com/anshgoyalevil/talawa-api/edit/signoff/CONTRIBUTING.md#signing-off-on-commits).
            
      - name: Greeting Message to User
        uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          pr-message: "Congratulations on making your first PR! :confetti_ball: If you haven't already, check out our [Contributing Guidelines](https://github.com/PalisadoesFoundation/talawa-api/blob/-/CONTRIBUTING.md) and [PR Reporting Guidelines](https://github.com/PalisadoesFoundation/talawa-api/blob/-/PR_GUIDELINES.md) to ensure that you are following our guidelines for contributing and creating PR."
