##############################################################################
##############################################################################
#
# NOTE!
#
# Please read the README.md file in this directory that defines what should 
# be placed in this file
#
##############################################################################
##############################################################################

name: Push Workflow

on:
  push:
    branches:
      - '**'   

jobs:
  CodeQL:
    name: Analyse code with codeQL on push
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript' ]
    steps:
       - name: Checkout repository
         uses: actions/checkout@v2

       - name: Initialize CodeQL
         uses: github/codeql-action/init@v1
         with:
          languages: ${{ matrix.language }}
          debug: true

       - name: Autobuild
         uses: github/codeql-action/autobuild@v1

       - name: Perform CodeQL Analysis
         uses: github/codeql-action/analyze@v1

##############################################################################
# This section is added so that the most recent and valid level of 
# code coverage (post PR merge) is reported 
##############################################################################

  Code-Coverage:
    name: Shows code coverage
    runs-on: ubuntu-latest
    needs: CodeQL
    strategy:
      matrix:
        node-version: [14.x]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
    - name: Install dependencies
      run: npm install
    - name: Start the Application
      run: npm start
    - name: Run the tests    
      run: npm run test
      continue-on-error: true
    - name: Save Test Coverage Details
      uses: codecov/codecov-action@v2
      with:
        token: ${{secrets.CODECOV_TOKEN}} 
        file: ./coverage/lcov.info 
    - name: Report code coverage
      uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
      with:
        path: "./coverage/lcov.info"
        min_coverage: 59