name: Push Workflow for develop-postgres

on:
  push:
    branches:
      - develop-postgres

jobs:
  test-and-upload-coverage:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: pnpm
          cache-dependency-path: |
            docs/pnpm-lock.yaml
            docs/package.json

      # Install dependencies and run tests
      - name: Run Tests and Upload Coverage to Codecov
        run: |
          pnpm install --frozen-lockfile
          pnpm run test
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      # Upload coverage to Codecov
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          files: ./coverage/lcov.info
