name: Push Workflow for develop

on:
  workflow_dispatch:
  push:
    branches:
      - develop

env:
  CODECOV_UNIQUE_NAME: CODECOV_UNIQUE_NAME-${{ github.run_id }}-${{ github.run_number }
  
jobs:
  test-and-upload-coverage:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Create .env file for Talawa API testing environment
      - name: Create .env file for Talawa API testing environment
        run: cp ./envFiles/.env.ci ./.env

      # Build Talawa API compose testing environment
      - name: Build Talawa API compose testing environment
        run: docker compose build

      # Run tests
      - name: Run tests
        run: docker compose up --exit-code-from api

      # Copy coverage from container
      - name: Copy coverage from container
        run: |
          CONTAINER_ID=$(docker ps -aq --filter "ancestor=talawa-api")
          docker cp $CONTAINER_ID:/home/talawa/api/coverage ./coverage
          
      #######################################################################
      # DO NOT DELETE ANY references to env.CODECOV_UNIQUE_NAME in this
      # section. They are required for accurate calculations
      #######################################################################
      - name: Present and upload coverage to Codecov as ${{env.CODECOV_UNIQUE_NAME}}
        uses: codecov/codecov-action@v5
        with:
          name: "${{env.CODECOV_UNIQUE_NAME}}"
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          verbose: true
          exclude: 'docs/'
          gcov_ignore: 'docs/'
          path: "./coverage/lcov.info"
